h1 {
    padding: 15px 15px;
    display: table;
    margin: 10px auto 10px auto;
    color: blue;
    text-align: center;
    background-color: rgb(223, 223, 121)
}

h2 {
    text-align: center;
}

h3 {
    display: table;
    margin: 0px auto 0px auto;
    color: red;
    text-align: center;
    background-color: yellow
}

p {
    font-size: 25px;
    width: 40%;
    text-align: center;
    margin: 12px auto 12px auto;
}
.centraImagen{
    margin:20px auto;
    display:block;
}

img {
    height: 50%;
    width: 50%;
  }

.fcc-btn {
    display: inline-block;
    position: relative;
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: #199 0px 0px 5px 3px;
}

.fcc-btn:hover {
  background-color: #393e8d;
}