h1 {
    display: table;
    margin: 0px auto 0px auto;
    color: blue;
    text-align: center;
    background-color: yellow
}

h3 {
    color: red;
    text-align: center;
    background-color: yellow
}

.centraImagen{
    margin:20px auto;
    display:block;
}

.boton {
    position: center;
    color: rgb(4, 37, 66);
    background-color: rgb(226, 241, 136);
    border-radius: 10px;
    padding: 15px;
}