h1 {
    color: blue;
    text-align: center;
    background-color: yellow;
}
h3 {
    color: red;
    text-align: center;
    background-color: yellow;
}

.centrado{
    margin:20px auto;
    display:block;
}